:host {
  display: block;
  width: 100%;
  height: 100%;
  background: var(--progress-track-background, #333);
}

bar {
  background: var(--bar-background, #999);
  background: red;
  display: block;
  height: 100%;
  pointer-events: none;
}

highlight {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.35);
  pointer-events: none;
}

scrub-detector {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
