ul {
  margin: 0;
  border: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

li {
  margin: 0;
  border: 0;
  padding: 3px 7px;
}
li:hover {
  cursor: pointer;
  text-decoration: underline;
}
