<header>
  <h1>PRX Podcast Player for Web Pages</h1>
  <p>The PRX Podcast player can be used any website to let users listen to episodes from any podcast, regardless of where or how the podcast is hosted.</p>
  <p>Enter the URL of a podcast feed below, select which episode you'd like to build a player for, and then customize the player as necessary. Put the resulting <code>iframe</code> code on any webpage to display the player.</p>
</header>

<section>
  <form id="feed-selector">
    <strong>Step 1: <em>Feed URL</em></strong>
    <input
      type="url"
      #feedUrlInput
      required
      pattern="^http.*"
      style="width: 400px;"
      name="theFeedUrl">
    <button type="submit" (click)="onFeedUrlSubmit(feedUrlInput.value)">Submit</button>
  </form>
</section>

<section *ngIf="feedUrl">
  <strong>Step 2: <em>Choose Episode</em></strong>
  <episode-picker
    (select)="onEpisodeSelect($event)"
    [feedUrl]="feedUrl"></episode-picker>
</section>

<section *ngIf="(feedUrl && embedProps) || (editMode && embedProps)">
  <strong>Step 3: <em>Customize Player</em></strong>
  <form
    [ngFormModel]="propsForm"
    #propsFormNg="ngForm"
    id="builder-form">

    <h4>Basics</h4>

    <fieldset>
      <label for="title">Title</label>
      <input
        type="text"
        [(ngModel)]="embedProps.title"
        [ngFormControl]="propsForm.controls.title"
        ngControl="title"
        id="title"
        name="title">
    </fieldset>

    <fieldset>
      <label for="subtitle">Subtitle</label>
      <input
        type="text"
        [(ngModel)]="embedProps.subtitle"
        [ngFormControl]="propsForm.controls.subtitle"
        ngControl="subtitle"
        id="subtitle"
        name="subtitle">
    </fieldset>

    <fieldset>
      <label>Artwork URL</label>
      <input
        type="text"
        [(ngModel)]="embedProps.imageUrl"
        [ngFormControl]="propsForm.controls.imageUrl"
        ngControl="imageUrl"
        id="imageUrl"
        name="imageUrl">
      <br>
      <img src="{{embedProps.imageUrl}}" style="width: 200px; height: 200px; display: block; margin: 5px auto;">
    </fieldset>

    <fieldset>
      <label>Audio URL</label>
      <input
        type="text"
        [(ngModel)]="embedProps.audioUrl"
        [ngFormControl]="propsForm.controls.audioUrl"
        ngControl="audioUrl"
        id="audioUrl"
        name="audioUrl">
    </fieldset>

    <h4>Advanced Options</h4>

    <fieldset>
      <label for="subscribeUrl">Subscription URL</label>
      <input
        type="text"
        [(ngModel)]="embedProps.subscribeUrl"
        [ngFormControl]="propsForm.controls.subscribeUrl"
        ngControl="subscribeUrl"
        id="subscribeUrl"
        name="subscribeUrl">
      <br>
      <small>If you provide a URL for this, a "Subscribe" button will appear in the player. You could point it at a landing page, the iTunes page for your show, or another page that helps people subscribe to your show.</small>
      <br>
      <label for="subscribeTarget">Subscribe Target</label>
      <input
        type="text"
        [(ngModel)]="embedProps.subscribeTarget"
        [ngFormControl]="propsForm.controls.subscribeTarget"
        ngControl="subscribeTarget"
        id="subscribeTarget"
        name="subscribeTarget">
      <small>Leave this as "_blank" if you don't know what it is</small>
    </fieldset>

    <!-- <fieldset>
      <label for="ctaUrl">CTA Title</label>
      <input type="text" [(ngModel)]="embedProps.ctaUrl" [ngFormControl]="specsForm.controls.ctaUrl" ngControl="ctaUrl" id="ctaUrl">
      <br>
      <label for="ctaTitle">CTA URL</label>
      <input type="text" [(ngModel)]="embedProps.ctaTitle" [ngFormControl]="specsForm.controls.ctaTitle" ngControl="ctaTitle" id="ctaTitle">
    </fieldset> -->

    <h4>Embed Code</h4>

    <p>Copy the code for either size player to use on your site..</p>

    <fieldset>
      <label for="">Horizontal Player</label>
      <input
        type="text"
        readonly
        [value]="embedProps.horizontalIframeHtml"
        id="embed-code-horizontal"
        #codeInputHorizontal>
      <button
        (mouseover)="resetCopyButton(copyBtnHorizontal)"
        (click)="copyCode(codeInputHorizontal, copyBtnHorizontal)"
        #copyBtnHorizontal>Copy</button>
    <small>This player is 200 pixels tall and fills any available width on the page it's included on.</small>
    </fieldset>

    <fieldset>
      <label for="">Square Player</label>
      <input
        type="text"
        readonly
        [value]="embedProps.squareIframeHtml"
        id="embed-code-square"
        #codeInputSquare>
      <button
        (mouseover)="resetCopyButton(copyBtnSquare)"
        (click)="copyCode(codeInputSquare, copyBtnSquare)"
        #copyBtnSquare>Copy</button>
    <small>A 500 by 500 pixel square player that displays the artwork is large, prominent format.</small>
    </fieldset>

    <h4>More</h4>

    <fieldset>
      <label for="">Embeddable URL</label>
      <input
        type="text"
        readonly
        [value]="embedProps.embeddableUrl">
    <small>This is the URL for your customized player. You can use it to build your own iframe to display the player on your site.</small>
    </fieldset>
  </form>
</section>

<div class="preview-container">
  <h4>Preview</h4>
  <p>(Will reload automatically)</p>
  <iframe
    #previewSquare
    *ngIf="previewIframeSrc"
    frameborder="0"
    height="500"
    id="preview-square"
    width="500"
    [src]="previewIframeSrc"></iframe>
  <iframe
    #previewHorizontal
    *ngIf="previewIframeSrc"
    frameborder="0"
    height="200"
    id="preview-horizontal"
    width="95%"
    [src]="previewIframeSrc"></iframe>
</div>
