:host {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 40px;
}

.close-btn {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  color: white;
  background: none;
  border: none;
  font-size: 18px;
  padding: 5px 8px 0 0;
  outline: none;
  cursor: pointer;
}

h1 {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 6px 0;
  padding: 0;
}

p {
  font-size: 12px;
  line-height: 18px;
  margin: 0 30px;
  padding: 0;
}

.embed-code {
  margin: 0;
  border: 0;
  padding: 9px 50px 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  max-width: 610px;
}

.embed-code strong {
  display: block;
  background: white;
  color: black;
  height: 20px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px solid #ccc;
  width: 80px;
  text-align: center;
  font-size: 13px;
  font-weight: normal;
  line-height: 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.embed-code input {
  margin: 0;
  border: 0;
  padding: 0 10px;
  height: 20px;
  font-family: monospace;
  flex-grow: 1;
  flex-basis: 300px;
  display: block;
  outline: none;
}

.embed-code button {
  height: 20px;
  width: 60px;
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  margin: 0;
  border: 0;
  padding: 0 8px;
  background: #0089bd;
  color: white;
  border-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  text-align: center;
}
.embed-code button:hover {
  color: #0089bd;
  background: white;
  border-left: 1px solid #0089bd;
}
.embed-code button:active {
  background: #ddd;
}

#customize-btn {
  color: #fff;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  margin: 18px 0 0 0;
  padding: 5px 7px;
  border-radius: 4px;
  cursor: pointer;
}
#customize-btn:hover {
  color: black;
  background: white;
}
