<div class="player-container" [class.overlayed]="overlayEnabled" [class.loadingRender]="initialLoading">
  <div class="background-img" [style.background-image]="feedArtworkSafe"></div>
  <content>
    <div class="metadata">
      <div class="artwork">
        <div class="artworkBackground" [class.loaded]="!!artworkSafeLoaded" [style.background-image]="artworkSafeLoaded"></div>
        <img *ngIf="artworkUrl" [src]="artworkUrl" (load)="artworkLoaded()" style="display:none"/>
        <button (click)="togglePlayPause()" id="large-playback-control-button">
          <img src="/assets/images/large-semi-transparent-play.svg" alt="" *ngIf="player.paused" load-render>
          <img class="pauseButton" src="/assets/images/large-semi-transparent-pause.svg" alt="" *ngIf="!player.paused">
        </button>
      </div>
      <section>
        <header>
          <div class="titles">
            <h1 [title]="title"><a *ngIf="episodeLink" [href]="episodeLink" target="_top">{{title}}</a><span *ngIf="!episodeLink">{{title}}</span></h1>
            <h2 [title]="subtitle"><a *ngIf="programLink" [href]="programLink" target="_top">{{subtitle}}</a><span *ngIf="!programLink">{{subtitle}}</span></h2>
            <h3 *ngIf="pointerFeedName">Shared via <a [href]="pointerFeedUrl" target="_top">{{pointerFeedName}}</a></h3>
          </div>
          <div class="logo" id="upper-logo"><img load-render *ngIf="logoSrc" [src]="logoSrc" alt=""></div>
        </header>
        <div class="controls">
          <div class="buttons" (window:keydown)="handleHotkey($event)">
            <button (click)="seekBy(-5)" id="rewind-control-button">
              <img src="/assets/images/back-5.svg" alt="">
            </button>
            <button (click)="togglePlayPause()" id="playback-control-button">
              <img src="/assets/images/play.svg" alt="" *ngIf="player.paused" load-render>
              <img class="pauseButton" src="/assets/images/pause.svg" alt="" *ngIf="!player.paused">
            </button>
            <button (click)="seekBy(30)" id="forward-control-button">
              <img src="/assets/images/forward-30.svg" alt="">
            </button>
            <button *ngIf="showPlaylist" (click)="skipTrack()" id="skip-button-1">
              <img src="/assets/images/skip.svg" alt="">
            </button>

            <!-- <button (click)="cyclePlaybackRate()" id="playback-rate-control-button">
            <div *ngIf="player.playbackRate === 1">1<span>✕</span></div>
            <div *ngIf="player.playbackRate === 1.25">1.25<span>✕</span></div>
            <div *ngIf="player.playbackRate === 1.5">1.5<span>✕</span></div>
            <div *ngIf="player.playbackRate === 2">2<span>✕</span></div>
          </button> -->
          </div>
          <nav>
            <a *ngIf="audioUrl || initialLoading" load-render [href]="audioUrl" (click)="requestDownload($event)" [target]="subscribeTarget">
              <img class="nav-button" src="/assets/images/download.svg" alt="download">
            </a>
            <a [href]="subscribeUrl" load-render *ngIf="subscribeUrl || initialLoading" [target]="subscribeTarget">
              <img class="nav-button" src="/assets/images/plus-sign-subscribe.svg" alt="subscribe">
            </a>
            <a (click)="showShareModal()" id="share-button">
              <img class="nav-button" src="/assets/images/share.svg" alt="share">
            </a>
            <button id="skip-button-2" *ngIf="showPlaylist" (click)="skipTrack()">
              <img src="/assets/images/skip.svg" alt="">
            </button>
          </nav>
          <div class="logo" id="lower-logo"><img load-render *ngIf="logoSrc" [src]="logoSrc" alt=""></div>
        </div>
      </section>
    </div>

    <div class="scrubber" (window:keydown)="handleHotkey($event)">
      <span class="playback-progress" [class.loaded]="duration | async">{{currentTime | async | duration}}</span>
      <play-progress
        [value]="currentTime | async"
        [maximum]="duration | async"
        (seek)="onSeek($event)"
        (scrubbing)="onScrub($event)">
      </play-progress>
      <span class="duration" [class.loaded]="duration | async ">{{duration | async | duration}}</span>
    </div>

    <div class="overlayContent"><ng-container *ngTemplateOutlet="overlayTemplate; context:overlayContext"></ng-container></div>
  </content>
  <play-playlist
    *ngIf="showPlaylist && episodes && episodes.length"
    [episodes]="episodes"
    [subtitle]="subtitle"
    [episodeIndex]="episodeIndex"
    [channelArt]="feedArtworkUrl"
    [playing]="!isPaused()"
    (playlistItemClicked)="navigatePlaylist($event)">
  </play-playlist>
</div>
