@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.background-img {
  filter: blur(25px);
  -webkit-filter: blur(25px);
  -moz-filter: blur(25px);
  -o-filter: blur(25px);
  margin: -25px;
  /* to account for the white-edge blurring from the filter: blur */
  min-height: 233px;
  width: calc(100% + 50px);
  /* 183px of content (sans border) + 50 to account for the -25px margins */
  background-size: 100% auto;
  position: relative;
  z-index: -1;
  background-position: center center;
}

content {
  font-family: "Source Sans Pro";
  background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3));
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
  height: 185px;
}

.metadata {
  display: flex;
}

.artwork,
section {
  flex-grow: 1;
}

.artwork {
  position: relative;
  max-width: 115px;
  width: 115px;
  min-width: 115px;
  height: 115px;
  margin: 15px;
  border-radius: 5px;
  border: solid 1px #ffffff;
  background-color: white;
}

.artwork .artworkBackground {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-size: cover;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.artwork .artworkBackground.loaded {
  opacity: 1;
}

#large-playback-control-button {
  position: absolute;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  display: none;
}

section {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  margin: 20px 15px 15px 0;
  overflow: hidden;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow-x: hidden;
}

.titles {
  overflow-x: hidden;
}

h1,
h2 {
  margin: 0;
  border: 0;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  color: #ffffff;
}

h1 {
  height: 20px;
  font-size: 16px;
  font-weight: 600;
}

h2 {
  height: 18px;
  font-size: 14px;
}

.logo {
  width: auto;
  height: 30px;
  display: none;
}

.logo > img {
  width: auto;
  height: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
  max-height: 30px;
}

.buttons {
  display: flex;
}

button {
  min-width: 30px;
  margin-right: 15px;
  border: 0;
  padding: 0;
  background: none;
  cursor: pointer;
  justify-content: center;
}

button:focus {
  outline: 0;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #368aa2;
  cursor: pointer;
}

nav a:hover {
  color: #1e4e5c;
}

.nav-button {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1.5px solid gray;
  background: inherit;
}

.scrubber {
  display: flex;
  justify-content: space-around;
}

play-progress {
  cursor: col-resize;
  flex-basis: 100%;
  height: 10px;
  opacity: 0.3;
  border-radius: 100px;
  background-color: #ffffff;
  display: block;
  margin: 6px 0;
  position: relative;
}

.playback-progress,
.duration {
  text-align: center;
  font-size: 14px;
  line-height: 1.5;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.5s;
}

.playback-progress.loaded, .duration.loaded {
  opacity: 1;
}

.playback-progress {
  width: 60px;
  overflow: hidden;
}

.duration {
  width: 60px;
  overflow: hidden;
}

.loadingRender play-progress, .loadingRender .playback-progress, .loadingRender .duration{
  color: transparent;
}

.loadingRender .pauseButton {
  display: none;
}

.loadingRender play-progress {
  opacity: 0.1;
}

@media (max-width: 599px) {
  .buttons,
  #upper-logo
  {
    display: none;
  }

  #large-playback-control-button,
  #lower-logo
  {
    display: block;
  }
}

@media (min-width: 600px) {
  #upper-logo {
    display: block;
  }
}
