<div class="background-fill"></div>

<a
  id="preview-toggle"
  (mouseover)="previewOverlay.style.display = 'block'"
  (mouseout)="previewOverlay.style.display = 'none'"
  *ngIf="props">Preview</a>

<div id="preview-overlay" #previewOverlay style="display: none;">
  <!-- <iframe
    #previewHorizontal
    *ngIf="previewIframeSrc"
    frameborder="0"
    height="200"
    id="preview-horizontal"
    width="95%"
    [src]="previewIframeSrc"></iframe> -->
  <div *ngIf="!playPlaylist" id="preview-horizontal-wrap">
    <iframe
      #previewSquare
      *ngIf="previewIframeSrc"
      frameborder="0"
      height="185"
      id="preview-horizontal"
      width="600"
      [src]="previewIframeSrc"></iframe>
  </div>
  <div *ngIf="playPlaylist" id="preview-playlist-wrap">
    <iframe
      #previewPlaylist
      *ngIf="previewIframeSrc"
      frameborder="0"
      height="650"
      id="preview-playlist"
      width="600"
      [src]="previewIframeSrc"></iframe>
  </div>
</div>

<div class="container">
  <header>
    <a [routerLink]="['/']" id="prx-logo"></a>
  </header>

  <div class="content">
    <section *ngIf="!editMode" class="builder-step" id="step-1">
      <form id="feed-selector" (submit)="onFeedUrlSubmit(feedUrlInput.value)">
        <label for="feedUrl">Select podcast</label>
        <input [class.error]="this.feedError" type="url" id="feedUrl" required pattern="^http.*"
          name="feedUrl" [ngModel]="feedUrl" #feedUrlInput
          placeholder="A podcast's RSS feed URL, eg http://example.com/feed.xml">
        <button type="submit">Submit</button>
      </form>
      <p *ngIf="feedError"><em>{{feedUrl}}</em> is not an RSS feed.</p>
    </section>

    <section class="builder-step" *ngIf="feedUrl && !feedError" id="step-2">
      <fieldset>
        <label>
          <input type="checkbox" [checked]="playPlaylist" (change)="togglePlayPlaylist()">
          Make It A Playlist
        </label>
        <fieldset *ngIf="playPlaylist">
          <p>This will create a playlist from your RSS feed, starting with the most recent episode. The list of upcoming episodes will appear underneath the regular player.</p>
          <select [(ngModel)]="props.playlistLength">
            <option value="5">5 episodes in playlist</option>
            <option value="10">10 episodes in playlist</option>
            <option value="15">15 episodes in playlist</option>
            <option value="20">20 episodes in playlist</option>
          </select>
        </fieldset>
      </fieldset>

      <fieldset>
        <label>
          <input type="checkbox" [checked]="playLatest" (change)="togglePlayLatest()">
          Always Play Most Recent Episode
        </label>
        <p *ngIf="playLatest">The player will automatically update to always play the most recent episode from your feed.</p>
      </fieldset>

      <fieldset *ngIf="!playLatest">
        <label>Or: Select Episode</label>
        <play-episode-picker  (select)="onEpisodeSelect($event)" (invalidFeed)="onInvalidFeedNavigate($event)"
        [feedUrl]="feedUrl" [selectedGUID]="episodeGuid"></play-episode-picker>
      </fieldset>
      <hr>
    </section>

    <form #builderForm="ngForm">
      <section class="builder-step" id="step-3" *ngIf="props && !playLatest">
        <h4>Customize Your Player</h4>
        <p>These fields are for overrides only. They should be altered
          if you want to override the episode's information in your RSS feed
          for the player.
        </p>

        <fieldset>
          <label for="title">Title</label>
          <input type="text" [(ngModel)]="props.title" id="title" [placeholder]="defaults.title" name="title">
        </fieldset>

        <fieldset>
          <label for="subtitle">Subtitle</label>
          <input type="text" [(ngModel)]="props.subtitle" id="subtitle" [placeholder]="defaults.subtitle" name="subtitle">
        </fieldset>

        <fieldset>
          <img [src]="props.imageUrl || defaults.imageUrl" id="artwork-preview">
          <label>Artwork URL</label>
          <input type="text" [(ngModel)]="props.imageUrl" id="imageUrl" [placeholder]="defaults.imageUrl" name="imageUrl">
        </fieldset>

        <fieldset>
          <label>Audio URL</label>
          <input type="text" [(ngModel)]="props.audioUrl" id="audioUrl" [placeholder]="defaults.audioUrl" name="audioUrl">
          <audio controls id="audio-preview" [src]="props.audioUrl || defaults.audioUrl">
          </audio>
        </fieldset>

        <fieldset>
          <label for="subscribeUrl">Subscription URL</label>
          <input type="text" [(ngModel)]="props.subscribeUrl" id="subscribeUrl" [placeholder]="defaults.subscribeUrl" name="subscribeUrl">
          <p>
            <small>If you provide a URL, a "Subscribe" button will appear in the player. This should be somewhere that makes it easy for people to subscribe to your show, such as the iTunes link for your show or a landing page on your own site.</small>
          </p>
        </fieldset>

        <fieldset>
          <label for="subscribeTarget">Subscribe Button Behavior</label>
          <select id="subscribeTarget" name="subscribeTarget" [(ngModel)]="props.subscribeTarget">
            <option value="_blank">Open in new tab</option>
            <option value="_top">Open in the same tab</option>
          </select>
          <p>
            <small>This option only has an effect if you provide a <strong>Subscription URL</strong></small>
          </p>
        </fieldset>

        <!-- <fieldset>
          <label for="ctaUrl">CTA Title</label>
          <input type="text" [(ngModel)]="props.ctaUrl" id="ctaUrl">
          <br>
          <label for="ctaTitle">CTA URL</label>
          <input type="text" [(ngModel)]="props.ctaTitle" id="ctaTitle">
        </fieldset> -->
        <hr>
      </section>
    </form>

    <section class="builder-step" id="step-4" *ngIf="props">
      <h4>Copy and Use Your Embed Code</h4>

      <p>Copy the code for one of the following players, and place it somewhere on your webpage.</p>
      <section *ngIf="playPlaylist">
        <fieldset>
          <label for="embed-code-horizontal-playlist">Horizontal Playlist Player</label>
          <input type="text" readonly [ngModel]="props.horizontalPlaylistIframeHtml"
            id="embed-code-horizontal-playlist" #codeInputHorizontalPlaylist>
          <button class="copy-code"
            (mouseover)="resetCopyButton(copyBtnHorizPlaylist)"
            (click)="copyCode(codeInputHorizontalPlaylist, copyBtnHorizPlaylist)"
            #copyBtnHorizPlaylist>Copy</button>
          <p>
            <small>This player is 500 pixels tall and stretches to fit the width of the page.</small>
          </p>
        </fieldset>

        <fieldset>
          <label for="embed-code-vertical-playlist">Vertical Playlist Player</label>
          <input type="text" readonly [ngModel]="props.verticalPlaylistIframeHtml"
            id="embed-code-vertical-playlist" #codeInputVerticalPlaylist>
          <button class="copy-code"
            (mouseover)="resetCopyButton(copyBtnHorizPlaylist)"
            (click)="copyCode(codeInputVerticalPlaylist, copyBtnVertPlaylist)"
            #copyBtnVertPlaylist>Copy</button>
          <p>
            <small>This player is 500 pixels wide and 800 pixels tall.</small>
          </p>
        </fieldset>
      </section>

      <section *ngIf="!playPlaylist">
        <fieldset>
          <label for="embed-code-horizontal">Horizontal Episode Player</label>
          <input type="text" readonly [ngModel]="props.horizontalIframeHtml"
            id="embed-code-horizontal" name="embedcodehorizontal" #codeInputHorizontal>
          <button class="copy-code"
            (mouseover)="resetCopyButton(copyBtnHorizontal)"
            (click)="copyCode(codeInputHorizontal, copyBtnHorizontal)"
            #copyBtnHorizontal>Copy</button>
          <p>
            <small>This player is 200 pixels tall and stretches to fit the width of the page.</small>
          </p>
        </fieldset>

        <fieldset>
          <label for="embed-code-square">Square Episode Player</label>
          <input type="text" readonly [ngModel]="props.squareIframeHtml"
            id="embed-code-square" name="embedcodesquare" #codeInputSquare>
          <button class="copy-code"
            (mouseover)="resetCopyButton(copyBtnSquare)"
            (click)="copyCode(codeInputSquare, copyBtnSquare)"
            #copyBtnSquare>Copy</button>
          <p>
            <small>This player is 500 by 500 pixels and displays the artwork in large, prominent format.</small>
          </p>
        </fieldset>
      </section>
      <hr>
    </section>

    <section class="builder-step" id="step-4b" *ngIf="props">
      <h4>Advanced Use &amp; Customization</h4>
      <p>Advanced users may build their own embeddable <code>iframe</code> tags, rather than using one of the two pre-built versions.</p>

      <fieldset>
        <label for="embed-code-raw">Embed player URL</label>
        <input type="text" readonly [ngModel]="props.embeddableUrl"
          id="embed-code-raw" name="embedcoderaw" #codeInputRaw>
        <button class="copy-code"
          (mouseover)="resetCopyButton(copyBtnRaw)"
          (click)="copyCode(codeInputRaw, copyBtnRaw)"
          #copyBtnRaw>Copy</button>
      </fieldset>
    </section>
  </div>
</div>
