.background-fill {
  background-color: #252525;
  background-image:url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHdpZHRoPSc5JyBoZWlnaHQ9JzE4JyB2aWV3Qm94PScwIDAgNSAxMCc+Cgk8cmVjdCB3aWR0aD0nMTEwJScgeD0nLTUlJyB5PSctNSUnIGhlaWdodD0nMTEwJScgZmlsbC1vcGFjaXR5PScwLjAnLz4KCTxsaW5lIHgxPSctMicgeTE9JzEnIHgyPSc3JyB5Mj0nMTAnIHN0cm9rZT0nIzAwMCcgc3Ryb2tlLXdpZHRoPScwLjYyJy8+Cgk8bGluZSB4MT0nLTInIHkxPSc2JyB4Mj0nNycgeTI9JzE1JyBzdHJva2U9JyMwMDAnIHN0cm9rZS13aWR0aD0nMC42MicvPgoJPGxpbmUgeDE9Jy0yJyB5MT0nLTQnIHgyPSc3JyB5Mj0nNScgc3Ryb2tlPScjMDAwJyBzdHJva2Utd2lkdGg9JzAuNjInLz4KPC9zdmc+Cg==);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

label {
  font-size: 16px;
}

#preview-toggle {
  position: fixed;
  right: 10px;
  bottom: 0;
  padding: 8px 15px;
  background: #3889a4;
  color: white;
  text-decoration: none;
  z-index: 21;
  cursor: pointer;
}

#preview-overlay {
  z-index: 20;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
}

#preview-horizontal-wrap {
  width: 600px;
  height: 185px;
  margin: 120px auto;
}
#preview-playlist-wrap {
  width: 600px;
  height: 650px;
  margin: 120px auto;
}

.container {
  background-color: #fff;
  max-width: 1200px;
  margin: 0 auto;
  border: 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 14px;
  color: #676767;
  font-family: 'Open Sans', sans-serif;
  position: relative;
  z-index: 10;
}

.container > header {
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
}

#prx-logo {
  display: block;
  background-size: auto 33px;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3csvg%20id%3d%22Layer_1%22%20data-name%3d%22Layer%201%22%20xmlns%3d%22http%3a%2f%2fwww.w3.org%2f2000%2fsvg%22%20viewBox%3d%220%200%201167.12%20355.42%22%3e%3cdefs%3e%3cstyle%3e.cls-1%7bfill%3a%23ff9500%3b%7d.cls-2%7bfill%3a%230089bd%3b%7d.cls-3%7bfill%3a%23bf7000%3b%7d%3c%2fstyle%3e%3c%2fdefs%3e%3ctitle%3ePRX_Marks%3c%2ftitle%3e%3cpath%20class%3d%22cls-1%22%20d%3d%22M264.09,177.94,175.68,89.52,92.37,6.21a7.21,7.21,0,0,0-10.2,0L4,84.42a7.21,7.21,0,0,0,0,10.2l83.31,83.31.18.18-.18.18L4,261.6a7.21,7.21,0,0,0,0,10.2L82.17,350a7.21,7.21,0,0,0,10.2,0l83.31-83.31,88.41-88.41-.18-.18Z%22%2f%3e%3cpath%20class%3d%22cls-2%22%20d%3d%22M175.86,266.52,87.45,178.11,175.86,89.7,259.17,6.39a7.21,7.21,0,0,1,10.2,0L347.59,84.6a7.21,7.21,0,0,1,0,10.2l-83.31,83.31,83.31,83.31a7.21,7.21,0,0,1,0,10.2l-78.21,78.21a7.21,7.21,0,0,1-10.2,0Z%22%2f%3e%3cpath%20class%3d%22cls-3%22%20d%3d%22M87.44,178.11l88.42,88.41-24.57,24.56s1.07-46.18-63.85-113Z%22%2f%3e%3cpath%20class%3d%22cls-2%22%20d%3d%22M1085.89,178.11,1163,49.63a6.12,6.12,0,0,0-5.25-9.27h-95.92a6.12,6.12,0,0,0-5.25,3l-25.77,42.94L1005,43.33a6.12,6.12,0,0,0-5.25-3H903.85a6.12,6.12,0,0,0-5.25,9.27l77.09,128.48h0L907.5,291.76l-31.68-65.37a86.51,86.51,0,0,0,34.69-33.7q12.21-21.48,12.22-52.23,0-48.86-30-74.49T811.58,40.36H685.73a6.58,6.58,0,0,0-6.58,6.58V95.31A79.78,79.78,0,0,0,657.57,66q-30-25.62-81.19-25.62H450.52a6.58,6.58,0,0,0-6.58,6.58V309.28a6.58,6.58,0,0,0,6.58,6.58h80.25a6.58,6.58,0,0,0,6.58-6.58v-68.7h39q51.23,0,81.19-25.62a79.74,79.74,0,0,0,21.58-29.33V309.28a6.58,6.58,0,0,0,6.58,6.58H764.4a6.58,6.58,0,0,0,6.58-6.58v-68.7h17.74L822.62,311a8.68,8.68,0,0,0,7.82,4.91H999.78a6.12,6.12,0,0,0,5.25-3l25.77-42.94,25.77,42.94a6.12,6.12,0,0,0,5.25,3h95.92a6.12,6.12,0,0,0,5.25-9.27Zm-528.44-7.29h-20.1v-60.7h20.1q35.86,0,35.87,30.35T557.45,170.82Zm234.42,0H771v-60.7h20.89q35.86,0,35.87,30.35T791.87,170.82Z%22%2f%3e%3c%2fsvg%3e");
  width: 113px;
  height: 73px;
}

.content {
  background: #f0f0f0;
  padding: 0 100px 20px 100px;
}

#step-4b {
  padding-bottom: 50px;
}

#step-1 label,
#step-2 label,
#step-3 h4,
#step-4 h4,
#step-4b h4 {
  color: #343434;
  font-size: 18px;
  display: block;
  margin: 0;
  border: 0;
  padding: 20px 0 0 0;
  font-weight: normal;
}

#step-3 h4,
#step-4 h4,
#step-4b h4 {
  margin-bottom: 12px;
}

.builder-step input[type='checkbox'] {
  vertical-align: middle;
}

.builder-step input[type='text'],
.builder-step input[type='url'] {
  font-size: 14px;
  margin: 5px 0;
  border: 0;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  height: 20px;
}

.error {
  outline: 5px auto #e32;
}

.warning {
  outline: 5px auto #ff9600;
}

.builder-step button[type='submit'],
.builder-step button.copy-code {
  background: #3889a4;
  border: 0;
  color: white;
  padding: 6px 15px 6px 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  height: 40px;
  cursor: pointer;
}

.builder-step button.copy-code:hover {
  border: 1px solid #3889a4;
  background: white;
  color: #3889a4;
}

.builder-step fieldset {
  position: relative;
  margin: 0 0 10px 0;
  border: 0;
  padding: 0;
}

.builder-step fieldset label {
  color: #343434;
  display: block;
}

.builder-step fieldset input[type='text'] {
  margin-top: 0;
}

.builder-step fieldset select {
  font-size: 14px;
  margin: 5px 0;
  border: 0;
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  width: 500px;
  height: 40px;
  display: block;
}

.builder-step fieldset p {
  margin: 0 0 15px;
  max-width: 500px;
}

.builder-step #artwork-preview {
  position: absolute;
  top: 28px;
  right: 0px;
  width: 400px;
}

.builder-step #audio-preview {
  display: block;
  width: 500px;
}

/*
Placeholder default values in builder;
resource: https://css-tricks.com/almanac/selectors/p/placeholder/
*/
.builder-step input::placeholder {
  color: darkgray;
}
.builder-step input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: darkgray;
}
.builder-step input::-moz-placeholder { /* Firefox 19+ */
  color: darkgray;
}
.builder-step input:-ms-input-placeholder { /* IE 10+ */
  color: darkgray;
}
.builder-step input:-moz-placeholder { /* Firefox 18- */
  color: darkgray;
}
