player {
  position: absolute;
  width: 100%;
  height: 185px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  border-radius: 5px;
  border: 1px solid #e6e6e6;
  box-sizing: border-box;
}



@media (max-height: 184px) {
  player:before {
    content: 'Minimum height: 185px';
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(135, 135, 135);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
  }
}


@media (max-width: 299px) {
  player:before {
    content: 'Minimum width: 300px';
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(135, 135, 135);
    text-align: center;
    width: 100%;
    position: absolute;
    top: 50%;
  }
}
