html
  head
    title Embed
    meta(name='viewport', content='width=device-width, initial-scale=1')
    base(href='/')
    //- link(rel='icon' href='/images/favicon.png')

    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css')
    
    if locals.release
      script(src='/scripts/angular2-polyfills.js')
      script(src='/scripts/backsaw.min.js')
    else
      script(src='node_modules/angular2/bundles/angular2-polyfills.js')
      script(src='jspm_packages/system.js')
      script(src='config/systemjs.config.js')
      script.
        System.import('src').then(null, console.error.bind(console));

  body
    embed-app
