doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title PRX Embeddable Player
    base(href='/')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/x-icon' href='/assets/images/favicon.png')
    != css
    if gaKey
      script.
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '${gaKey}', 'auto');
      script(async src='https://www.google-analytics.com/analytics.js')
  body(margin: 0)
    play-root
      .empty(style='position:absolute;top:0;right:0;bottom:0;left:0;display:flex;align-items:center;justify-content:center;')
        h3(style='font-size:18px;font-weight:200;color:#bbb') Loading...
    != inlineJs
    script(type='text/javascript')
      != 'window.ENV=' + JSON.stringify(env)
    for script in scripts
      script(src=script)
