doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title PRX Embeddable Player
    base(href='/')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='icon' type='image/x-icon' href='/assets/images/favicon.png')
    != css
    if env.GA_KEY
      script.
        window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
        ga('create', '#{env.GA_KEY}', 'auto');
      script(async src='https://www.google-analytics.com/analytics.js')
  body(margin: 0)
    play-root
      != loadingMarkup
    != js
    script(type='text/javascript')
      != 'window.ENV=' + JSON.stringify(env)
    for script in scripts
      script(src=script)
